body{
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    padding: 0 2em 2em 2em;
}

.AlignCenter{
    margin-left: auto;
    margin-right: auto;
}

.ContentApp{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 1em !important;
}

.ContentCalendar{
    min-height: 600px !important;
}

.header .toolbar{
    margin-left: 1em;
}

.header .logo{
    width: 250px;
}

form .FormInputText{
    width: 100%;
    margin-top: 0;
}

form .FormButton{
    margin-right: 1em;
}

.FormHeader{
    text-align: left;
    padding: 1em
}

.text-center {
    text-align: center !important;
}

form .FormControlSelect {
    width: 100%;
    margin-bottom: 1em !important;
}

form .FormFooter{
    margin-top: 1em !important;
}

.AlertDanger{
    padding: 1em;
    background: #f5d9d9;
    color: #f90000;
}

.AlertSuccess{
    padding: 1em;
    background: #d0ffd1;
    color: #324c28;
}

.footer{
    text-align: center;
}

.footer p{
    font-size: 1em;
}

.footer p a{
    color: #5f3d08;
}

.MenuOpen{
    margin-top: 70px;
}

.list .list-action-link{
    color: #5f5e5e;
    padding-right: 10px;
}

.contentApp{
    padding: 0;
}

.contentComponent{
    min-height: 600px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(232, 232, 232, 0.5); /* Black background with opacity */
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.overlay .contentLoading{
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.iconInButton{
    margin-right: 5px;
}

.List{
    padding-top: 1em;
}

.List .ListFooter{
    padding: 1em;
}

.List .ListHeader{
    padding: 0.5em 1.5em;
}

.List .ListMenu{
    text-align: right;
}